
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.domine{
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.gradient-background {
  background: linear-gradient(300deg, #F2BED1, #BE9FE1, #E1CCEC);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
    background-color: #F1F1F6;
}

.title{
    color: #F1F1F6;
    font-size: large;
    padding-left:1rem;
}
.nav-item a{
    color:#F1F1F6;
}

.profile{
    border-radius: 50%;
}
